p {
    color: coral;
    font-family: Arial, cursive;
    text-align: center;
}

p, li{
    color: fuchsia;
    font-size: 16px;
}

.special {
    color: deepskyblue
}

a:visited{
    color: brown;
}
body{
    background: black;
}
h2{
    color: aliceblue;   
    background-color: rgba(255,0,255,0.5);
    text-align: center;
}

a {
    text-decoration:  none;
}

a:hover
{
    color:gold;
    text-decoration: underline;
}